8-15 Raspberry pi connect to Multi-RS485 json-data i2r-01/8-15 node-red.txt
[{"id":"f01c1103.9c058","type":"serial out","z":"784dfb.e2e75204","name":"","serial":"48027db5.907424","x":365.0173645019531,"y":80.99999952316284,"wires":[]},{"id":"789fe11f.bfc3","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"{'no':1, 'power':1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171.017333984375,"y":81.11111450195312,"wires":[["f01c1103.9c058"]]},{"id":"c5c390a.b2be57","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"{'no':1, 'power':0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173.12844848632812,"y":128.5555772781372,"wires":[["f01c1103.9c058"]]},{"id":"4ce90471.08e2fc","type":"serial in","z":"784dfb.e2e75204","name":"","serial":"48027db5.907424","x":525.0173416137695,"y":77.44446086883545,"wires":[["333f9ae7.e1d006","4d18ffc5.f6422"]]},{"id":"333f9ae7.e1d006","type":"debug","z":"784dfb.e2e75204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":715.0173416137695,"y":77.11114883422852,"wires":[]},{"id":"9b846fc9.0a19","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"{'no':2, 'power':1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185.12844848632812,"y":187.55558395385742,"wires":[["f01c1103.9c058"]]},{"id":"d9cdb0e3.1255b","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"{'no':2, 'power':0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":184.23956298828125,"y":241.00002670288086,"wires":[["f01c1103.9c058"]]},{"id":"cfb7991c.2d16a8","type":"ui_switch","z":"784dfb.e2e75204","name":"","label":"switch 1","tooltip":"","group":"e226b590.7820c8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{'no':1, 'power':1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{'no':1, 'power':0}","offvalueType":"str","officon":"","offcolor":"","x":187.01734161376953,"y":288.55558013916016,"wires":[["f01c1103.9c058"]]},{"id":"4b17dabb.90d8b4","type":"ui_switch","z":"784dfb.e2e75204","name":"","label":"switch 2","tooltip":"","group":"e226b590.7820c8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{'no':2, 'power':1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{'no':2, 'power':0}","offvalueType":"str","officon":"","offcolor":"","x":188.12845611572266,"y":336.55558013916016,"wires":[["f01c1103.9c058"]]},{"id":"4d18ffc5.f6422","type":"json","z":"784dfb.e2e75204","name":"","property":"payload","action":"","pretty":false,"x":528.5729293823242,"y":154.43060493469238,"wires":[["f3bd7cbd.e795","969611db.3ec7a"]]},{"id":"969611db.3ec7a","type":"function","z":"784dfb.e2e75204","name":"","func":"var out=[];\nout.push({payload:msg.payload.no});\nout.push({payload:msg.payload.msg});\nreturn [out[0],out[1]];","outputs":2,"noerr":0,"x":553.5729484558105,"y":225.7569923400879,"wires":[["5d3cccf1.0c2994"],["8ba1b63e.00c508"]]},{"id":"5d3cccf1.0c2994","type":"ui_text","z":"784dfb.e2e75204","group":"e226b590.7820c8","order":3,"width":0,"height":0,"name":"","label":"no","format":"{{msg.payload}}","layout":"row-spread","x":687.5694999694824,"y":214.6875343322754,"wires":[]},{"id":"8ba1b63e.00c508","type":"ui_text","z":"784dfb.e2e75204","group":"e226b590.7820c8","order":4,"width":0,"height":0,"name":"","label":"msg","format":"{{msg.payload}}","layout":"row-spread","x":687.5694999694824,"y":258.680606842041,"wires":[]},{"id":"f3bd7cbd.e795","type":"debug","z":"784dfb.e2e75204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":697.0173454284668,"y":156.01045417785645,"wires":[]},{"id":"48027db5.907424","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"200","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"e226b590.7820c8","type":"ui_group","z":"","name":"RS485Test","tab":"bc8bf1c5.6aa38","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc8bf1c5.6aa38","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]