8-13-1 plc-Node red RS485 Wired(2-2)/8-13-1 plc-Node red RS485 Wired(2-2).txt
[{"id":"593789d2.062da8","type":"serial out","z":"7004150a.23d65c","name":"","serial":"8b7f8a83.a5a918","x":570,"y":84,"wires":[]},{"id":"9b40a008.c80ba","type":"function","z":"7004150a.23d65c","name":"read","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":83,"wires":[["593789d2.062da8"]]},{"id":"c2494d3e.dbbe7","type":"inject","z":"7004150a.23d65c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":248,"y":84,"wires":[["9b40a008.c80ba","31b795d1.67843a"]]},{"id":"a423b036.59118","type":"serial in","z":"7004150a.23d65c","name":"","serial":"8b7f8a83.a5a918","x":238,"y":214,"wires":[["fc20678b.5315a8"]]},{"id":"fc20678b.5315a8","type":"debug","z":"7004150a.23d65c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":404.5,"y":214,"wires":[]},{"id":"94c6b9e8.a17838","type":"function","z":"7004150a.23d65c","name":"write","func":"msg.payload='\\u0005'+\"00WSS0104%PW4000f\"+'\\u0004';  \nreturn msg;","outputs":1,"noerr":0,"x":481,"y":154,"wires":[["593789d2.062da8"]]},{"id":"31b795d1.67843a","type":"delay","z":"7004150a.23d65c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":343.5,"y":154,"wires":[["94c6b9e8.a17838"]]},{"id":"8b7f8a83.a5a918","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"300","bin":"false","out":"time","addchar":"","responsetimeout":"10000"}]