8-16-1 Raspberry pi  Camera - aws mongoDB/node red Raspberry pi.txt
[{"id":"c073c4d.3442f38","type":"camerapi-takephoto","z":"f62b57a6.572108","filemode":"1","filename":"photo1.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":300,"y":100,"wires":[["a1d2ec23.f53c8"]]},{"id":"768b8147.9c89b","type":"ui_template","z":"f62b57a6.572108","group":"c1f13f2f.237ee","name":"","order":0,"width":0,"height":0,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:40px; margin-bottom: 40px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n 사진찍기<br>\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":100,"wires":[["c073c4d.3442f38"]]},{"id":"a1d2ec23.f53c8","type":"file in","z":"f62b57a6.572108","name":"","filename":"/home/pi/Pictures/photo1.jpeg","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":100,"wires":[["89bf529.661cfb","4cb6da76.15d234","14e7409f.1de49f"]]},{"id":"89bf529.661cfb","type":"image","z":"f62b57a6.572108","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":800,"y":160,"wires":[]},{"id":"ee846a2b.e28ad8","type":"inject","z":"f62b57a6.572108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["c073c4d.3442f38"]]},{"id":"4cb6da76.15d234","type":"ui_template","z":"f62b57a6.572108","group":"c1f13f2f.237ee","name":"","order":0,"width":0,"height":0,"format":"<meta http-equiv='refresh' content='5'/>\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.jpeg\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":220,"wires":[[]]},{"id":"14e7409f.1de49f","type":"mqtt out","z":"f62b57a6.572108","name":"","topic":"/outTopic","qos":"0","retain":"false","broker":"b0e1e4cd.e02a88","x":800,"y":100,"wires":[]},{"id":"6d7b779.9805f88","type":"mqtt in","z":"f62b57a6.572108","name":"","topic":"/inTopic","qos":"0","datatype":"auto","broker":"b0e1e4cd.e02a88","x":130,"y":40,"wires":[["c073c4d.3442f38"]]},{"id":"c1f13f2f.237ee","type":"ui_group","name":"Group 1","tab":"42b86d9.5ca7794","order":1,"disp":true,"width":6},{"id":"b0e1e4cd.e02a88","type":"mqtt-broker","z":"","name":"","broker":"aljof1mktxlxf-ats.iot.ap-northeast-2.amazonaws.com","port":"8883","tls":"74cd4ca9.188504","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42b86d9.5ca7794","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"74cd4ca9.188504","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"74eb3c21934f2c65b547face5186127768f08473410840b612e629334d560cd8-certificate.pem.crt","keyname":"74eb3c21934f2c65b547face5186127768f08473410840b612e629334d560cd8-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true}]