8-16 Raspberry pi Camera/node red PC.txt
[{"id":"cf172848.631538","type":"mqtt in","z":"1b438f0f.0dfba1","name":"","topic":"/pictureRaspberry","qos":"0","datatype":"auto","broker":"7dd3826b.67994c","x":120,"y":60,"wires":[["6c055209.df291c","6be11092.4b733"]]},{"id":"6c055209.df291c","type":"image","z":"1b438f0f.0dfba1","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":240,"y":140,"wires":[]},{"id":"bcb363a8.0501a","type":"file","z":"1b438f0f.0dfba1","name":"","filename":"e:/test.jpeg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"base64","x":570,"y":160,"wires":[[]]},{"id":"3867e583.72704a","type":"file in","z":"1b438f0f.0dfba1","name":"","filename":"e:/test.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"binary","x":300,"y":366,"wires":[["db48ba71.e1e068"]]},{"id":"db48ba71.e1e068","type":"image","z":"1b438f0f.0dfba1","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":366,"wires":[]},{"id":"b8244bc0.5ffb98","type":"inject","z":"1b438f0f.0dfba1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":366,"wires":[["3867e583.72704a"]]},{"id":"6be11092.4b733","type":"base64","z":"1b438f0f.0dfba1","name":"","action":"","property":"payload","x":400,"y":60,"wires":[["7e2ed3c2.bb818c","bcb363a8.0501a","c075c953.be3788","b12c23e1.75fa2"]]},{"id":"7e2ed3c2.bb818c","type":"ui_template","z":"1b438f0f.0dfba1","group":"85525767.cfb328","name":"from 라즈베리","order":2,"width":"6","height":"6","format":"\n<img alt=\"HTTP Snap\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":580,"y":60,"wires":[[]]},{"id":"17e11b72.ca0d85","type":"mqtt out","z":"1b438f0f.0dfba1","name":"","topic":"/pictureTake","qos":"0","retain":"false","broker":"7dd3826b.67994c","x":270,"y":260,"wires":[]},{"id":"fa8e0131.fa2ad","type":"ui_button","z":"1b438f0f.0dfba1","name":"","group":"85525767.cfb328","order":1,"width":"3","height":"1","passthru":false,"label":"사진찍기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":100,"y":260,"wires":[["17e11b72.ca0d85"]]},{"id":"a9cf19ea.8e1138","type":"inject","z":"1b438f0f.0dfba1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":420,"wires":[["c0d642da.8db42"]]},{"id":"f555b50a.42b268","type":"template","z":"1b438f0f.0dfba1","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"569\" height=\"197\"\"/>","output":"str","x":640,"y":420,"wires":[["58a4e409.24284c"]]},{"id":"58a4e409.24284c","type":"ui_template","z":"1b438f0f.0dfba1","group":"85525767.cfb328","name":"RIO Logo","order":8,"width":"15","height":"15","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":780,"y":420,"wires":[[]]},{"id":"c0d642da.8db42","type":"file in","z":"1b438f0f.0dfba1","name":"","filename":"e:/test.jpeg","format":"","chunk":false,"sendError":false,"encoding":"none","x":310,"y":420,"wires":[["615bf7f2.f0de58"]]},{"id":"615bf7f2.f0de58","type":"base64","z":"1b438f0f.0dfba1","name":"","action":"","property":"payload","x":480,"y":420,"wires":[["f555b50a.42b268"]]},{"id":"fd227eb9.62141","type":"comment","z":"1b438f0f.0dfba1","name":"이미지 보여줌","info":"","x":110,"y":313,"wires":[]},{"id":"9ac4736.661b69","type":"mongodb2 in","z":"1b438f0f.0dfba1","service":"_ext_","configNode":"cc902054.67422","name":"","collection":"","operation":"","x":750,"y":200,"wires":[[]]},{"id":"b12c23e1.75fa2","type":"function","z":"1b438f0f.0dfba1","name":"findOneAndUpdate","func":"var time = new Date().toLocaleString('en-US', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'email' : 'kdi6033@gmail.com','type':2}, {$set:{ 'picture':msg.payload, 'time':time}} ];\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["9ac4736.661b69"]]},{"id":"7ccc3a9a.6b25b4","type":"inject","z":"1b438f0f.0dfba1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["324b03a.677fdfc"]]},{"id":"324b03a.677fdfc","type":"function","z":"1b438f0f.0dfba1","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : 'kdi6033@gmail.com','type':2};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["55de226f.bb8e9c"]]},{"id":"55de226f.bb8e9c","type":"mongodb2 in","z":"1b438f0f.0dfba1","service":"_ext_","configNode":"cc902054.67422","name":"","collection":"","operation":"","x":390,"y":500,"wires":[["8edc8ed4.84916"]]},{"id":"8edc8ed4.84916","type":"function","z":"1b438f0f.0dfba1","name":"","func":"var newMsg={};\nnewMsg.payload=msg.payload.picture.toString();\nreturn newMsg;","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["11b6a089.c17cdf","f555b50a.42b268"]]},{"id":"11b6a089.c17cdf","type":"image","z":"1b438f0f.0dfba1","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":680,"y":500,"wires":[]},{"id":"c075c953.be3788","type":"file","z":"1b438f0f.0dfba1","name":"","filename":"e:/test.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"ascii","x":560,"y":120,"wires":[[]]},{"id":"65d4ed0c.dbecb4","type":"comment","z":"1b438f0f.0dfba1","name":"이미지 저장","info":"","x":570,"y":240,"wires":[]},{"id":"7dd3826b.67994c","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.17","port":"1883","tls":"509a45a9.089bbc","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85525767.cfb328","type":"ui_group","z":"","name":"groov RIO","tab":"d98690fb.149aa","order":1,"disp":true,"width":"26","collapse":false},{"id":"cc902054.67422","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"509a45a9.089bbc","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"ea1ef80b73-certificate.pem.crt","keyname":"ea1ef80b73-private.pem.key","caname":"MtesCA.pem","servername":"","verifyservercert":true},{"id":"d98690fb.149aa","type":"ui_tab","z":"","name":"라즈베리","icon":"dashboard","order":4,"disabled":false,"hidden":false}]