8-13 plc-Node red RS485 Wired/8-13 plc-Node red RS485 Wired.txt
[{"id":"e6e9f22c.ca3a1","type":"function","z":"79bfab29.00d1a4","name":"read","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":120,"wires":[["c7488caa.40a26"]]},{"id":"c7488caa.40a26","type":"serial request","z":"79bfab29.00d1a4","name":"","serial":"74a2c2e3.edb8cc","x":408,"y":120,"wires":[["bc11293.98c21d8","9c6c817b.ff71b"]]},{"id":"9c6c817b.ff71b","type":"function","z":"79bfab29.00d1a4","name":"write","func":"msg.payload='\\u0005'+\"00WSS0104%PW40003\"+'\\u0004';  \nreturn msg;","outputs":1,"noerr":0,"x":548,"y":120,"wires":[["c69552a.cd794b"]]},{"id":"defff30b.d8a6e","type":"inject","z":"79bfab29.00d1a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":120,"wires":[["e6e9f22c.ca3a1"]]},{"id":"bc11293.98c21d8","type":"debug","z":"79bfab29.00d1a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":528,"y":200,"wires":[]},{"id":"9344fa8d.619e18","type":"debug","z":"79bfab29.00d1a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":827.0000457763672,"y":197.00001049041748,"wires":[]},{"id":"c69552a.cd794b","type":"serial request","z":"79bfab29.00d1a4","name":"","serial":"74a2c2e3.edb8cc","x":708,"y":120,"wires":[["9344fa8d.619e18"]]},{"id":"21159493.da1b8c","type":"comment","z":"79bfab29.00d1a4","name":"ÂüÁ¶ 2-0-2 https://youtu.be/Kt86EkYY7zc","info":"","x":182.5,"y":47,"wires":[]},{"id":"74a2c2e3.edb8cc","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"200","bin":"false","out":"time","addchar":"false","responsetimeout":"1000"}]