8-14-1 mosquitto , PLC/8- 14-1 mqtt_nodered.txt
[{"id":"67ca24e5.9bd60c","type":"mqtt out","z":"784dfb.e2e75204","name":"","topic":"inTopic","qos":"","retain":"","broker":"58833d68.1ad5b4","x":359.5,"y":57,"wires":[]},{"id":"ccc637c6.a91f88","type":"mqtt in","z":"784dfb.e2e75204","name":"","topic":"inTopic","qos":"2","datatype":"auto","broker":"58833d68.1ad5b4","x":130.5,"y":152,"wires":[["a06db4f8.5e5e68"]]},{"id":"76dcd72d.7e5298","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":167.5,"y":55,"wires":[["67ca24e5.9bd60c"]]},{"id":"a06db4f8.5e5e68","type":"debug","z":"784dfb.e2e75204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":267.5,"y":153,"wires":[]},{"id":"faff44d0.263668","type":"inject","z":"784dfb.e2e75204","name":"","topic":"","payload":"Good Day","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":98,"wires":[["67ca24e5.9bd60c"]]},{"id":"58833d68.1ad5b4","type":"mqtt-broker","z":"","name":"raspberry","broker":"192.168.0.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]