8-14-1 mosquitto , PLC/8- 14-1 mqtt_nodered.txt
[{"id":"9b40a008.c80ba","type":"function","z":"7004150a.23d65c","name":"read","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":79,"wires":[["2ff351a9.90ae2e"]]},{"id":"c2494d3e.dbbe7","type":"inject","z":"7004150a.23d65c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":80,"wires":[["9b40a008.c80ba","31b795d1.67843a"]]},{"id":"94c6b9e8.a17838","type":"function","z":"7004150a.23d65c","name":"write","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar dec = parseInt(p40+p41+p42+p43);\nmsg.payload = '\\u0005'+\"00WSS0104%PW4000\"+dec.toString(16)+'\\u0004'+'\\u000A'+'\\u000A';\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":150,"wires":[["2ff351a9.90ae2e"]]},{"id":"31b795d1.67843a","type":"delay","z":"7004150a.23d65c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":216.5,"y":150,"wires":[["94c6b9e8.a17838"]]},{"id":"ba6d05a9.d46828","type":"ui_switch","z":"7004150a.23d65c","name":"","label":"P40","tooltip":"","group":"a43f1c51.f6788","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":85.0000228881836,"y":227.99998569488525,"wires":[["4820e195.d97a3"]]},{"id":"157e3123.6af01f","type":"ui_switch","z":"7004150a.23d65c","name":"","label":"P41","tooltip":"","group":"a43f1c51.f6788","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":363.00001525878906,"y":226.00000667572021,"wires":[["7e5c580d.336768"]]},{"id":"1986f96e.11add7","type":"ui_switch","z":"7004150a.23d65c","name":"","label":"P42","tooltip":"","group":"a43f1c51.f6788","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"4","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":85.00001525878906,"y":271.0000066757202,"wires":[["d641ebc0.a45108"]]},{"id":"97f8f136.68851","type":"ui_switch","z":"7004150a.23d65c","name":"","label":"P44","tooltip":"","group":"a43f1c51.f6788","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":362.00001525878906,"y":275.0000066757202,"wires":[["579e8fff.af318"]]},{"id":"b70ee473.2a4778","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":13,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":275.9999465942383,"y":357.0000638961792,"wires":[]},{"id":"b2940925.118458","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":12,"width":0,"height":0,"name":"","label":"보냄","format":"{{msg.payload}}","layout":"row-spread","x":663.9804077148438,"y":142.99615478515625,"wires":[]},{"id":"4820e195.d97a3","type":"function","z":"7004150a.23d65c","name":"","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":206.98040771484375,"y":226.99609375,"wires":[[]]},{"id":"7e5c580d.336768","type":"function","z":"7004150a.23d65c","name":"","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":481.98040771484375,"y":226.99609375,"wires":[[]]},{"id":"d641ebc0.a45108","type":"function","z":"7004150a.23d65c","name":"","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":203.98040771484375,"y":271.99609375,"wires":[[]]},{"id":"579e8fff.af318","type":"function","z":"7004150a.23d65c","name":"","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":487.98040771484375,"y":274.99609375,"wires":[[]]},{"id":"398c1f22.bda18","type":"function","z":"7004150a.23d65c","name":"2진수로 정리","func":"var R = msg.payload.charAt(3);\nif(R=='R') {\n    var dec = msg.payload.charAt(13);\n    var bin = parseInt(dec).toString(2);\n    bin=\"0000\"+bin;\n    bin = bin.slice(-4);\n    \n    dec = msg.payload.charAt(12);\n    var bin1 = parseInt(dec).toString(2);\n    bin1=\"0000\"+bin1;\n    bin1 = bin1.slice(-4);\n    \n    msg.payload=bin1+bin;\n    return msg;\n}","outputs":1,"noerr":0,"x":291.99990463256836,"y":406.01037216186523,"wires":[["4dbb67ba.60afe8"]]},{"id":"4dbb67ba.60afe8","type":"function","z":"7004150a.23d65c","name":"Decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(7)});\nout.push({payload:msg.payload.charAt(6)});\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":455.05550384521484,"y":423.8645658493042,"wires":[["a6073729.14c388"],["6f1588b1.4ef968"],["f0d7b2ea.dbab2"],["6a0026e5.041e78"],["a2af6244.1cb88"],["9e211f47.8d9e4"]]},{"id":"2ff351a9.90ae2e","type":"function","z":"7004150a.23d65c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":76,"wires":[["b2940925.118458","9a4f5e63.22bbb"]]},{"id":"a6073729.14c388","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":607.9375,"y":390.8055419921875,"wires":[["9b53b02a.2b442"]]},{"id":"9b53b02a.2b442","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":6,"width":"1","height":"1","name":"","label":"0","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":729.9375381469727,"y":390.80554485321045,"wires":[]},{"id":"6f1588b1.4ef968","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":610.9999771118164,"y":433.00000286102295,"wires":[["23ac8ea6.778642"]]},{"id":"23ac8ea6.778642","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":7,"width":"1","height":"1","name":"","label":"1","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":733.0000152587891,"y":433.0000057220459,"wires":[]},{"id":"f0d7b2ea.dbab2","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":612.9999771118164,"y":473.00000286102295,"wires":[["e8e0977c.6b8198"]]},{"id":"e8e0977c.6b8198","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":8,"width":"1","height":"1","name":"","label":"2","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":735.0000152587891,"y":473.0000057220459,"wires":[]},{"id":"6a0026e5.041e78","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":611.9999771118164,"y":516.000002861023,"wires":[["e970b6d7.371b88"]]},{"id":"e970b6d7.371b88","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":9,"width":"1","height":"1","name":"","label":"3","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":734.0000152587891,"y":516.0000057220459,"wires":[]},{"id":"a2af6244.1cb88","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":614.9999771118164,"y":559.000002861023,"wires":[["f9ac0f32.52a17"]]},{"id":"f9ac0f32.52a17","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":10,"width":"1","height":"1","name":"","label":"4","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":737.0000152587891,"y":559.0000057220459,"wires":[]},{"id":"9e211f47.8d9e4","type":"function","z":"7004150a.23d65c","name":"Test","func":"msg.color = (msg.payload === \"1\")?\"lime\":\"DarkOrange \";\nreturn msg;","outputs":1,"noerr":0,"x":615.9999771118164,"y":597.000002861023,"wires":[["6cebdc17.611324"]]},{"id":"6cebdc17.611324","type":"ui_text","z":"7004150a.23d65c","group":"a43f1c51.f6788","order":11,"width":"1","height":"1","name":"","label":"5","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":738.0000152587891,"y":597.0000057220459,"wires":[]},{"id":"9a4f5e63.22bbb","type":"mqtt out","z":"7004150a.23d65c","name":"","topic":"inTopic","qos":"","retain":"","broker":"58833d68.1ad5b4","x":686,"y":78,"wires":[]},{"id":"1a71dc89.4c55f3","type":"mqtt in","z":"7004150a.23d65c","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"58833d68.1ad5b4","x":100,"y":358,"wires":[["b70ee473.2a4778","398c1f22.bda18"]]},{"id":"a43f1c51.f6788","type":"ui_group","z":"","name":"PLC Testing","tab":"3e534195.ec294e","disp":true,"width":"9","collapse":false},{"id":"58833d68.1ad5b4","type":"mqtt-broker","z":"","name":"raspberry","broker":"192.168.0.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e534195.ec294e","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]